html{
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: inherit;
}
.container{
	max-width: 1070px;
	padding: 0 10px;
	margin: 0 auto;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #737373;
	letter-spacing: 0.2px;
}
.header__top{
	display: flex;
	align-items: center;
	padding: 40px 0;			
}
.logo{
	margin-right: 117px;
}
.logo__link{
	width: 106px;
	height: 32px;
	fill: #252B42;
}
.menu__list{
	display: flex;
}
.menu__item{
	padding: 0 10.5px;
	font-weight: 600;
	line-height: 24px;
}
.header{
	background-image: url(../images/header-bg.jpg);
	min-height: 793px;
	background-repeat: no-repeat;
	background-size: cover;
}
.header__content{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 76px;	
}

.header__title{
	font-weight: 800;
	font-size: 58px;
	line-height: 80px;
	letter-spacing: 0.2px;
	color: #252B42;
	margin-bottom: 35px;
	text-transform: uppercase;
	width: 509px;
}
.header__text{
	font-size: 20px;
	line-height: 30px;
	width: 376px;
	margin-bottom: 35px;
}
.header__button{
	margin-bottom: 80px;
	text-align: center;
	line-height: 28px;
	font-weight: 700;
}
.get-btn{
	color: #FFFFFF;
	border-radius: 37px;
	padding: 10px 36px;
	background-color: #FFA62B;
}
.more-btn{
	margin: 0px 10px;
	color: #00A0C1;
	border: 1px solid #00A0C1;
	border-radius: 37px;
	padding: 10px 36px;
}
.header__info{
	bottom: -19px;
    position: relative;
    	display: flex;
	padding-top: 5px;
	justify-content: space-between;
}
.header__info-box{
	padding: 35px 40px;
	background-color: #FFFFFF;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	width: 328px;
	box-sizing: border-box;
	
	
}
.header__info-img{
	margin-bottom: 10px;
	width: 48px;
    fill: #00A0C1;
    height: 48px;
}
.header__info-title{
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.1px;
	color: #252B42;
	margin-bottom: 10px;
}
.choice{
	background-color: #FAFAFA;
	padding: 211px 0 80px;
}
.main-content{
	display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 45px;

}
.main-content__title{
font-weight: 700;
font-size: 40px;
line-height: 57px;
color: #252B42;
margin-bottom: 15px;
width: 511px;
text-align: center;
}
.main-content__text{
	width: 511px;
	text-align: center;
}
.choice__benefits-box{
		display: flex;
	padding-top: 5px;
	justify-content: space-between;

}
.benefits__img{
	width: 48px;
	height: 48px;
	fill: #00A0C1;
}
.choice__benefits-item{
	box-sizing: border-box;
	padding: 30px 35px;
	background-color: #FFFFFF;
	width: 240px;
	text-align: center;
}
.benefits__title{
	font-weight: 700;
font-size: 40px;
line-height: 57px;
color: #252B42;
}

.benefits__text{
	font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #737373;
text-transform: uppercase;
width: 170px;
}
.advice{
	background-color: #FAFAFA;
	padding: 125px 0 80px;
}
.advice__box{
	display: flex;

	justify-content: space-between;

}
.advice__box-item{
	height: 342px;
	box-sizing: border-box;
		display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #FFFFFF;

}
.box-item__title{
	font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #252B42;
width: 135px;
margin-bottom: 15px;
}
.box-item__text{
	width: 175px;
}
.box-item__inner{
	
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.service{
	padding: 100px 0;
}
.service__inner{
	display: flex;
}
.service__img{
width: 597px;
height: 442px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%), url(../images/img5.jpg);

}
.service__content{
	padding-left: 120px;
}
.service__content-box{
	width: 330px;
}
.service__description-box{
	display: flex;
	align-items: center;
}

.service__title{
	padding-top: 20px;
	font-weight: 700;
font-size: 40px;
line-height: 57px;
color: #252B42;
margin-bottom: 10px;
}
.service__text{
margin-bottom: 20px;
}
.service__description-item{
	width: 270px;
}
.service__subtitle{
	font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #252B42;
padding: 30px 0 5px;

}
.service__subtext{
	line-height: 24px;
	font-weight: 600;
}
.service__icon{
	padding-right: 20px;
	width: 32px;
	height: 32px;
	fill: #FFA62B;
}
.brands{
	background: #FAFAFA;
}
.brands__inner{
	padding: 50px 0 137px;
	display: flex;
	justify-content: space-between;
}
.brands__img{
	padding: 0 25px;
	width: 85px;
	fill: #737373;
}
.line{
	height: 77px;
	background: #252B42;
	position: relative;
}
.subscribe__block{
	max-width: 968px;
	position: absolute;
	display: flex;
	background: #16697A;
	border-radius: 2px;
	align-items: center;
  	left: calc(50% - 986px/2);
	padding: 30px 40px 30px 50px;
	bottom: 20px;
}
.subscribe__title{
	padding-right: 180px;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.1px;
	color: #FFFFFF;
	width: 266px;
}
.subscribe__form{
	display: flex;
}
.subscribe__form-input{
	max-width: 335px;
	line-height: 28px;
	font-weight: 400;
	padding: 15px 235px 15px 20px;
	border: 1px solid #E6E6E6;
	border-radius: 5px 0 0 5px;
	box-sizing: border-box;
	border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */

}
.subscribe__form-btn{
	line-height: 28px;
	font-weight: 400;
	color: #FFFFFF;
	background: #FFA62B;
	border: 1px solid #E6E6E6;
	border-radius: 0px 5px 5px 0px;
	box-sizing: border-box;
	padding: 15px 22px;
	cursor: pointer;
}
.contact{
	padding: 80px 0 148px;
	background: #F3F3F3;
}
.contact__box{
	padding: 35px 30px 0;
	display: flex;
	justify-content: center;
}
.contact__block-item{
	display: flex;
	flex-direction: column;
	margin: 30px 0;
	background: #FFFFFF;
	align-items: center;
	padding: 50px 40px;
	color: #252B42;
}
.block-item__img{
	padding-bottom: 15px;
	width: 72px;
	height: 72px;
	fill: #00A0C1;
}
.main-block-item__img{
	padding-bottom: 15px;
	width: 72px;
	height: 72px;
	fill: #FFFFFF;;
}
.block-item__text{
	width: 221px;
	text-align: center;
	font-weight: 600;
	line-height: 24px;

	padding-bottom: 15px;
}
.block-item__title{
	font-weight: 700;
font-size: 16px;
line-height: 24px;

text-align: center;
letter-spacing: 0.1px;
padding-bottom: 15px;
}
.block-item__btn{
	padding: 10px 20px;
	border: 1px solid #FFA62B;
	border-radius: 5px;
	color: #FFA62B;
	font-weight: 600;
	line-height: 24px;
	background: #FFFFFF;
}
.contact__main-block-item{
	background: #252B42;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 40px;
	color: #FFFFFF;
}
.main-block-item__btn{
	padding: 10px 20px;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	color: #FFFFFF;
	font-weight: 600;
	line-height: 24px;
	background: #252B42;
}
.footer__block-title{
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
}
.footer__title{
	font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #252B42;
padding-bottom: 10px;
}
.footer__btn{
	background: #FFA62B;
border-radius: 5px;
padding: 15px 40px;
font-weight: 700;
font-size: 14px;
line-height: 28px;
color: #FFFFFF;
margin-right: 12px;
}
.footer__list li{
	list-style: none;
}
.footer__nav{
	background: #16697A;
	margin-bottom: 25px;
}
.footer__list{
	display: flex;
	flex-direction: row;
	padding: 50px 0 40px;
	justify-content: space-between;
}
.footer__item{
	box-sizing: border-box;
	min-width: 150px;
	color: #FFFFFF;
}
.footer__item-title{
	font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
padding-bottom: 20px;
}
.footer__item-text{
font-weight: 600;
line-height: 24px;
padding-bottom: 10px;
}
.footer__block-footer{
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	align-items: center;
}
.block-footer__social-list{
	margin: 0 20px;
	display: flex;
flex-direction: row;
align-items: center;
}
.block-footer__social-item{
	padding-right: 20px;
}
.footer__item-box{
	display: flex;
	flex-direction: column;
	min-width: 150px;
}
.footer__icon{
	width: 24px;
	height: 24px;
	fill: #8EC2F2;
	padding-right: 10px;
}
.footer__item-item {
    display: flex;
	margin-bottom: 10px;
	align-items: center;
}
.header-contact{
	background: #F6F6F6;
}
.breadcrumb{
	max-height: 42px;
	background: #DFDFDF;
}
.breadcrumb-list{
	display: flex;
	color: #5A5A5A;
	margin-left: 110px;
	opacity: 0.7;
	padding: 7px 0;
}
.breadcrumb-item{
	list-style: none;
}
.breadcrumb-item:not(:first-child):before{
	content: '/';
	padding: 4px;
}
.contact-main{
	background: #F6F6F6;
}
.contact-main__title{
	display: inline-block;
	font-weight: 700;
font-size: 40px;
line-height: 76px;
color: #252B42;
border-bottom: 2px solid #6D7278;
margin-bottom: 37px;
}
.contact-main__content{
padding-left: 208px;
width: 780px;
}
.content__social-list{
	margin-bottom: 20px;
}
.contact-main__text{
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	color: #A1A1A1;
	margin-bottom: 10px;

}
.contact-main__list{
	margin-bottom: 15px;
}
.contact-main__item{
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
	list-style: none;
}
.form__mail{
	line-height: 28px;
	font-weight: 600;
	color: #363838;
	margin-bottom: 22px;
}
/*.fa:before,{
    content: '&#xf230';
    width: 26px;
    height: 17px;
}*/
.form__feedback{
	width: 785px;
	padding-bottom: 105px;
}
.feedback__input-name{
	padding: 5px 281px 5px 16px;
	border: 1px solid #E6E6E6;
	border-radius: 10px;
	max-width: 385px;
		line-height: 28px;
			font-weight: 400;
	font-size: 16px;
	color: #A1A1A1;
	box-sizing: border-box;
	margin-right: 10px;
}
.feedback__input-mail{
	padding: 5px 277px 5px 16px;
	border: 1px solid #E6E6E6;
	border-radius: 10px;
	max-width: 385px;
		line-height: 28px;
			font-weight: 400;
	font-size: 16px;
	color: #A1A1A1;
	box-sizing: border-box;
}
.feedback__input-message{
	padding: 10px 646px 80px 16px;
	border: 1px solid #E6E6E6;
	border-radius: 10px;
	max-width: 782px;	
	margin-bottom: 19px;
	line-height: 28px;
		font-weight: 400;
	font-size: 16px;
	color: #A1A1A1;
	box-sizing: border-box;
}
.feedback__inner{
	margin-bottom: 12px;
}
.feedback__form-btn{
	padding: 6px 12px;
	border: 1px solid #363838;
	border-radius: 21px;
	background: #363838;
	color: #FFFFF0;
	min-width: 171px;
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;
	cursor: pointer;
}